@keyframes oferta-anim {
  0% {
    color: #FC4D22;
    background-color: #C2D8B1;
  }
  100% {
    color: #C2D8B1;
    background-color: #FC4D22;
  }
}

@keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

body, div {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

header {
  margin-top: 10px;
  padding: 25px;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div {
  width: 50%;
}

.logo {
  width: 150px;
  display: block;
}

.header-derecho {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-derecho i,
.login {
  font-size: 25px;
}

.buscador {
  width: 200px;
}

.oferta{
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 200px;
  line-height: 180px;
  
  text-align: center;
  position: relative;
  animation-name: oferta-anim;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.oferta p {
  animation: text 3s 1;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:0 10px;
}

.producto {
  padding-bottom: 10px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.producto img {
  width: 100%;
}

.producto p {
  margin: 10px;
  font-size: 20px;

}

.producto a {
  line-height: 15px;
}

.parrafo-fuerte {
  font-size: 40px;
}

.btn-enviar {
  width: 15%;
  margin: 10px;
}

.form-email {
  width: 45%;
  border-radius: 15px;
  padding: 7px;
  margin-bottom: 20px;
}

footer {
  padding-top: 40px;
}

footer a {
  font-size: 25px;
  text-align: center;
}

.redes {
  margin: 0 auto;
  width: 15%;
  display: flex;
}

.ayuda {
  background-color: #000;
  padding: 5px;
  font-weight: bold;
  color: #fff;
}

.btn-ingresar {
  width: 40%;
}

@media(min-width: 480px) {
  .header {
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    max-width: 990px;

  }

  .header-derecho {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    width: 120px;
    display: block;
  }
}

@media(min-width: 900px) {
  .header-derecho {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}